<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="2.5"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<display-name>Archetype Created Web Application</display-name>
	
	<context-param>
		<param-name>adminName</param-name>
		<param-value>YoonsungJung</param-value>	
	</context-param>
	
	
	<servlet>
		<servlet-name>Ch3 Beer</servlet-name>
		<servlet-class>com.headfirst.controller.BeerSelect</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Ch3 Beer</servlet-name>
		<url-pattern>/SelectBeer.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BeerParamTests</servlet-name>
		<servlet-class>com.headfirst.controller.paramTest</servlet-class>
		
		<init-param>
			<param-name>adminEmail</param-name>
			<param-value>lvev9925@naver.com</param-value>
		</init-param>
		
		<init-param>
			<param-name>mainEmail</param-name>
			<param-value>estrella@nhnnext.org</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>BeerParamTests</servlet-name>
		<url-pattern>/getInitParams</url-pattern>
	</servlet-mapping>
</web-app>